<%- include('header') %>

        <title>Asimov : Eleves de la classe</title>
    </head>
    <body id="body-mesClasses">
        <div>
            <% if (ref === true) { %> 
                <%- include('enTeteReferent') %>
            <% }else{ %> 
                <%- include('enTeteProf') %>
            <% } %> 
        </div>
        <div>
            <% if(locals.err) { %> 
                <h1><%=err%></h1>
            <% }else{ %> 
                    <% eleves.forEach((eleve) =>{ %> 
                        <p><%=eleve.nom+" "+eleve.prenom%></p><a href="/Asimov/Notes_Matiere/<%=idProf%>/<%=eleve.idEleve%>">Notes</a>
                    <% }) %> 
     
            <% } %> 
        </div>

<%- include('footer') %>