<%- include('header') %>
    
    <title>Asimov : Matières</title>
</head>
<body>
    <div>
        <%- include('enTeteProviseur') %>
    </div>
    
    <div>
        
        <% if(locals.err) { %> 
            <h1><%=err%></h1>
        <% }else{ %>
            <table>
                <tr>
                    <th>Nom de la matière</th>
                </tr>

                <% matieres.forEach((matiere) => {%> 
                    <tr>
                        <td><%=matiere.nom%></td> <td><a href="/Asimov/formulaire_modif_Matiere/<%=matiere.idMatiere%>">Modif</a></td> <td><a href="">Suppr</a></td>
                    </tr>
                <% }) %>  
            </table>  
            <form action="/Asimov/Ajout_Nouvelle_Matiere" method="post">
                <input name="nom" type="text" placeholder="Nom Matière">
                <input type="submit">
            </form> 
    </div>

<%- include('footer') %>
        <% } %> 