<%- include('header') %>
    
    <title>Asimov : Matières</title>
</head>
<body>
    <div>
        <%- include('enTeteProviseur') %>
    </div>
    
    <div>
        
        <% if(locals.errProf) { %> 
            <h1><%=errProf%></h1>
        <% }else{ %>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Matiere</th>
                </tr>

                <% profs.forEach((prof) => {%> 
                    <tr>
                        <td><%=prof.nom%> <%=prof.prenom%></td> <td><%=prof.nomMatiere%></td> <td><a href="">Modif</a></td> <td><a href="">Suppr</a></td>
                    </tr>
                <% }) %>  
            </table> 
            <form action="/Asimov/Ajout_Nouveau_Prof" method="post">
                <input name="nom" type="text" placeholder="Nom">
                <input name="prenom" type="text" placeholder="Prénom">
                <input name="mdp" type="password" placeholder="Mot de passe">
                <select name="idMatiere">
                    <% if (locals.errMatiere) { %> 
                    <option value="false"><%=errMatiere%></option>
                    <% }else{ %>
                        <% matieres.forEach((matiere) => {%>
                            <option value="<%=matiere.idMatiere%>"><%=matiere.nom%></option>
                        <% }) %>  
                    <% } %> 
                </select>
                <input type="submit">
            </form> 
    </div>

<%- include('footer') %>
        <% } %> 