<%- include('header') %>
    <link rel="icon" href="/img/logo.png">
    <title>Asimov : Classes</title>
</head>
<body>
    <div>
        <%- include('enTeteProviseur') %>
    </div>
    
    <div>
        <% if(locals.err) { %> 
            <h1><%=err%></h1>
        <% }else{ %> 
            <% classes.forEach((classe) => {%> 
                <p><%=classe.nom%></p><a href="/Asimov/Eleves_Classe/<%=id%>/<%=classe.idClasse%>">Détails</a>
            <% }) %>    
    </div>

<%- include('footer') %>
        <% } %> 