<%- include('header') %>

        <title>Asimov : Mes Classes</title>
    </head>
    <body id="body-mesClasses">
        <div>
            <% if (ref === true) { %> 
                <%- include('enTeteReferent') %>
            <% }else{ %> 
                <%- include('enTeteProf') %>
            <% } %> 
        </div>
        <div>
            <% if(locals.err) { %> 
                <h1><%=err%></h1>
            <% }else{ %> 
                <% classes.forEach((classe) => {%> 
                    <p><%=classe.nom%></p><button></button><a href="/Asimov/Eleves_Classe/<%=idProf%>/<%=classe.idClasse%>">Détails</a>
                <% }) %>    
        </div>

<%- include('footer') %>

<% } %> 