<%- include('header') %>

    <title>Asimov : Mes notes</title>
</head>
<body id="body-mesNotes">
    <div class="centrePage">
    <div class="formulaire">
    <% if (proviseur === true) {%> 
        <%- include('enTeteProviseur') %>
    <% }else{ %> 
        <div style="align-self: flex-end; margin-right: 5px; margin-top: 5px;">
            <a class="btn btn-primary" href="/Asimov/Deco">Se déconnecter</a>
        </div>
    <% } %> 
    <% if (locals.err) { %>
        <h1><%=err.msgErreur%></h1>
    <% }else{ %> 
        <div style="margin-bottom: 20px;">
            <h2>Notes de l'élève : <%=data[0].nom%> <%=data[0].prenom%></h2>
            <h3>Moyenne Générale: <%=moyGeneral%></h3>
        </div>
        <div style="margin-bottom: 25px; margin-left: 20px; margin-right: 20px;">
            <table border=1 cellspacing=0 cellpadding=5 style="width: 800px; border-collapse: unset;">
                <tr>
                    <th >Titre</th>
                    <th >Date</th>
                    <th >Note</th>
                    <% if (proviseur === true) { %> 
                        <th>Modification</th>
                        <th>Suppression</th>
                    <% } %> 
                </tr>
                <% for (let i = 0;i<compteur;i++) { %> 
                    <% data.forEach((note) =>{%>
                        <% if (note.idMatiere == tableMatiere[i]) {%>
                            <% if (note.Moyenne != null){%>
                                <tr>
                                    <th >Matière : <%=note.Matiere%></th>
                                    <th >/</th>
                                    <th >Moyenne : <%=note.Moyenne%>/100</th>
                                </tr>
                            <%} else {%>
                                <tr>
                                    <td ><%=note.titre%></td>
                                    <td ><%=moment(new Date(note.date)).calendar()%></td>
                                    <td ><%=note.note%>/100</td>
                                    <% if (proviseur === true) { %> 
                                        <td ><a class="btn btn-warning" href="/Asimov/formulaire_Modif_Note/<%=data[0].Id_Classe%>/<%=idEleve%>/<%=note.idNote%>"><img width="30px" src="/img/modif.png"></a></td>
                                        <td ><a class="btn btn-danger" href="/Asimov/Suppr_Notes/<%=data[0].Id_Classe%>/<%=idEleve%>/<%=note.idNote%>"><img width="30px" src="/img/suppr.png"></a></td>
                                    <% } %> 
                                </tr>
                            <% } %>
                        <% } %>    
                    <% }) %> 
                <% } %> 
            </table>
        </div>
    </div>
    </div>
    <% } %> 

<%- include('footer') %>