<%- include('header') %>

    <title>Asimov : Notes de l'élève</title>
</head>
<body id="body-mesNotes">
    <div class="centrePage">
    <div class="formulaire">
    <div>
        <% if (ref === true) { %> 
            <%- include('enTeteReferent') %>
        <% }else{ %> 
            <%- include('enTeteProf') %>
        <% } %> 
    </div>
    <% if (locals.err) { %>
        <h1><%=err%></h1>
    <% }else{ %> 
        <h2><%=data[0].nom%> <%=data[0].prenom%></h2>
        <h3>Matière : <%=data[0].nomMatiere%></h3>
        <h3>Moyenne : <%=moyenne%></h3>
        <div style="margin-bottom: 25px; margin-left: 20px; margin-right: 20px;">
            <table border=1 cellspacing=0 cellpadding=5 style="width: 800px; border-collapse: unset; margin-bottom: 20px;">
                <% if (data[0].note) { %>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Note</th>
                    <th>Modifiaction</th>
                    <th>Suppression</th>
                </tr>

                    <% for (let z = 0; z < data.length; z++) {%>
                        <div style="display: flex;">
                            <tr>
                                <td><%=data[z].Titre%></td>
                                <td><%=moment(new Date(data[z].dateNote)).calendar()%></td>
                                <td><% if (data[z].note === null) {%>Abs<% }else{ %><%=data[z].note%><% } %>/100</td>
                                <td><a class="btn btn-warning" href="/Asimov/formulaire_Modif_Note/<%=data[z].Id_Classe%>/<%=data[z].idEleve%>/<%=data[z].idNote%>"><img width="30px" src="/img/modif.png"></a></td>
                                <td><a class="btn btn-danger" href="/Asimov/Suppr_Notes/<%=data[z].Id_Classe%>/<%=data[z].idEleve%>/<%=data[z].idNote%>"><img width="30px" src="/img/suppr.png"></a></td>
                            </tr>
                        </div>
                        <% } %>
                    <% } %>          
            </table>
                <% } %> 
            <form action="/Asimov/Ajout_Notes_Matiere" method="post">
                <input name="titre" type="text" placeholder="Titre">
                <input name="note" type="number" placeholder="Note">
                <input name="idEleve" type="hidden" value="<%=data[0].idEleve%>">
                <input name="idClasse" type="hidden" value="<%=data[0].Id_Classe%>">
                <input name="idMatiere" type="hidden" value="<%=data[0].idMatiere%>">
                <input class="btn btn-primary" type="submit" value="Envoyer">
            </form>
        </div>
    </div>
    </div>

<%- include('footer') %>